
@use "../global-variables" as g
@use "./navbar.module" as nav

.wrapper
    color: black

.header
    font-family: g.$header-font
    margin: 0 auto auto 0
    display: flex
    justify-content: center
    padding-top: g.$spacing-8
      
.headerWrapper
    color: black 
    margin-bottom: g.$baton-height

.contentWrapper
    margin: 0 auto
    max-width: g.$maxWidth-3xl

.main
    width: g.$baton-inset-width
    margin: 0 auto