/* CSS Custom Properties Definitions
@use "./global-variables" as g

/* HTML elements

*, :after, :before
  box-sizing: border-box

html, body
  height: 100%

html
  line-height: g.$lineHeight-normal
  font-size: g.$fontSize-root
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  font-family: g.$font-body
  font-size: g.$fontSize-1
  color: g.$color-text

footer
  padding: g.$spacing-6 g.$spacing-0

hr
  background: g.$color-accent
  height: 1px
  border: 0

/* Heading

h1, h2, h3, h4, h5, h6
  font-family: g.$font-heading
  margin-top: g.$spacing-12
  margin-bottom: g.$spacing-6
  line-height: g.$lineHeight-tight
  letter-spacing: -0.025em

h2, h3, h4, h5, h6
  font-weight: g.$fontWeight-bold
  color: g.$color-heading

h1
  font-weight: g.$fontWeight-black
  font-size: g.$fontSize-6
  color: g.$color-heading-black

h2
  font-size: g.$fontSize-5

h3
  font-size: g.$fontSize-4

h4
  font-size: g.$fontSize-3

h5
  font-size: g.$fontSize-2

h6
  font-size: g.$fontSize-1

h1 > a
  color: inherit
  text-decoration: none

h2 > a, h3 > a, h4 > a, h5 > a, h6 > a
  text-decoration: none
  color: inherit

/* Prose

p
  line-height: g.$lineHeight-relaxed
  $baseline-multiplier:0.179
  $x-height-multiplier:0.35
  margin: g.$spacing-0 g.$spacing-0 g.$spacing-8 g.$spacing-0
  padding: g.$spacing-0

ul, ol
  margin-left: g.$spacing-0
  margin-right: g.$spacing-0
  padding: g.$spacing-0
  margin-bottom: g.$spacing-8
  list-style-position: outside
  list-style-image: none

ul li, ol li
  padding-left: g.$spacing-0
  margin-bottom: calc(#{g.$spacing-8} / 2)

li
  > p
    margin-bottom: calc(#{g.$spacing-8} / 2)

  *:last-child
    margin-bottom: g.$spacing-0

  > ul
    margin-left: g.$spacing-8
    margin-top: calc(#{g.$spacing-8} / 2)

blockquote
  color: g.$color-text-light
  margin-left: calc(-1 * #{g.$spacing-6})
  margin-right: g.$spacing-8
  padding: g.$spacing-0 g.$spacing-0 g.$spacing-0 g.$spacing-6
  border-left: g.$spacing-1 solid g.$color-primary
  font-size: g.$fontSize-2
  font-style: italic
  margin-bottom: g.$spacing-8

  >
    \:last-child
      margin-bottom: g.$spacing-0

    ul, ol
      list-style-position: inside

table
  width: 100%
  margin-bottom: g.$spacing-8
  border-collapse: collapse
  border-spacing: 0.25rem

  thead tr th
    border-bottom: 1px solid g.$color-accent

/* Link

a
  color: g.$color-primary
  word-break: break-word

  &:hover, &:focus
    text-decoration: none

/* Custom classes

.global-wrapper
  margin: g.$spacing-0

  &[data-is-root-path="true"] .bio
    margin-bottom: g.$spacing-20

.global-header
  margin-bottom: g.$spacing-12

.main-heading
  font-size: g.$fontSize-7
  margin: 0

.post-list-item
  margin-bottom: g.$spacing-8
  margin-top: g.$spacing-8

  p
    margin-bottom: g.$spacing-0

  h2
    font-size: g.$fontSize-4
    color: g.$color-primary
    margin-bottom: g.$spacing-2
    margin-top: g.$spacing-0

  header
    margin-bottom: g.$spacing-4

.header-link-home
  font-weight: g.$fontWeight-bold
  font-family: g.$font-heading
  text-decoration: none
  font-size: g.$fontSize-2

.bio
  display: flex
  margin-bottom: g.$spacing-16

  p
    margin-bottom: g.$spacing-0

.bio-avatar
  margin-right: g.$spacing-4
  margin-bottom: g.$spacing-0
  max-width: 80px
  height: auto
  border-radius: 100%

.blog-post header
  h1
    margin: g.$spacing-0 g.$spacing-0 g.$spacing-4 g.$spacing-0

  p
    font-size: g.$fontSize-2
    font-family: g.$font-heading

.blog-post-nav ul
  margin: g.$spacing-0

.gatsby-highlight
  margin-bottom: g.$spacing-8

/* Media queries

@media (max-width: 42rem)
  blockquote
    padding: g.$spacing-0 g.$spacing-0 g.$spacing-0 g.$spacing-4
    margin-left: g.$spacing-0

  ul, ol
    list-style-position: inside